body {
    background-color: #322525;
    font-family: 'comic sans ms', sans-serif;
    color: #DCDCDC;
    font-size: 20px;
}
.title_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-decoration: none;
    position: relative;
}
.active,
.title_button:hover {
    transform: scale(1.1);
    color: #4682B4;
}
.active::before,
.title_button:hover::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 2px;
    background-color: #4682B4;
    opacity: 1;
}
.title_button::before {
    opacity: 0;
}
.active::before {
    opacity: 1 !important;
}
select, input[type='text'] {
    display: block;
    width: 100%;
    max-width: 150px;
    padding: 6px;
    font-size: 16px;
    border: 2px solid #4682B4;
    border-radius: 12px;
    outline: none;
    color: #322525;
    font-family: inherit;
}
.title {
    font-style: italic;
}
.value {
    display: none;
}
.blocks {
    padding-top: 10px;
}
.title{
    padding-top: 20px;
}
.calculate {
    background-color: transparent;
    border: 1px solid #DCDCDC;
    border-radius: 16px;
    padding: 10px;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-decoration: none;
    position: relative;
}
.calculate:hover {
    transform: scale(1.1);
    color: #4682B4;
    border: 1px solid #4682B4;
}